
<if test=" data.includeName === '../includes/index.marko' ">
	<h1 class="title">
		<span>
			<span class="logo-listener" >
				<object data="/static/svg/logo/verge-logo.svg" type="image/svg+xml">VERGE</object>
			</span>
		</span>
	</h1>
</if>
<else>
	<h1 class="title">$!data.title</h1>
</else>

<h2 class="subTitle" >$!data.subTitle</h2>
