.darkGrey{fill:#333840; cursor: pointer;}
.redRing{fill:none;stroke:#C36159;stroke-width:1.5px;}
.greenRing{fill:none;stroke:#43C3B1;stroke-width:1.5px;}
.blueRing{fill:none;stroke:#2973A8;stroke-width:1.5px;}
#blueRingLg {
      fill:none;
      stroke:#2973A8;
      stroke-width:3px;

	  transform-origin: center;
      -ms-transform-origin: center;
      -moz-transform-origin: center;
      -webkit-transform-origin: center;

      -o-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 4s;
      -ms-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 4s;
      -moz-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 4s;
      -webkit-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 4s;
      transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 4s;
}
.rotate-y-360 {
      -ms-transform: rotateY(360deg);
      -moz-transform: rotateY(360deg);
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
}
#greenRingLg {
      fill:none;
      stroke:#43C3B1;
      stroke-width:3px;

      -ms-transform-origin: center;
      -moz-transform-origin: center;
      -webkit-transform-origin: center;
      transform-origin: center;

      -o-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 4s;
      -ms-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 4s;
      -moz-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 4s;
      -webkit-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 4s;
      transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 4s;
}
.rotate-x-360 {
      -ms-transform: rotateX(360deg);
      -moz-transform: rotateX(360deg);
      -webkit-transform: rotateX(360deg);
      transform: rotateX(360deg);
}
#v {
      fill:#C36159;
      -o-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 1.5s;
      -ms-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 1.5s;
      -moz-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 1.5s;
      -webkit-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 1.5s;
      transition-delay: .5s; -webkit-transition-delay: .5s; -moz-transition-delay: .5s; -ms-transition-delay: .5s; -o-transition-delay: .5s;

      -ms-transform-origin: center;
      -moz-transform-origin: center;
      -webkit-transform-origin: center;
}
.rotate-360 {
      -ms-transform: rotate(360deg) translateY(0px);
      -moz-transform: rotate(360deg) translateY(0px);
      -webkit-transform: rotate(360deg) translateY(0px);
      transform: rotate(360deg) translateY(0px);
}
