
<section class="vcp error">
<div class="vcc">

	<div class="error-box">
		<h1>$data.title</h1>
		<h2>$data.subTitle</h2>
		<p>$!data.message</p>
	</div>

	<include template="../includes/cp.marko" template-data="data"/>
</div>
</section>
