<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Verge Web Development LLC is a website design, development, and SEO (search engine optimization) company located in Tucson Arizona. We are committed to providing the highest quality content, everything form graphics, SVG, code, and website performance."/>
	<meta name="keywords" content="custom, websites, desgin, develop, development, seo, SEO, tucson, cutting edge, optimization, quality, performance, code, graphics, SVG, logos, logo design">
	<meta name="author" content="Verge Web Development LLC - Alexander Elias">

	<link rel="alternate" hreflang="en-us" href="http://verge.website/"/>
	<link rel="alternate" hreflang="en-us" href="http://verge.website/about"/>
	<link rel="alternate" hreflang="en-us" href="http://verge.website/contact"/>
	<link rel="alternate" hreflang="en-us" href="http://verge.website/portfolio"/>
	<base href="/">

	<title>$data.tabTitle</title>

	<link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="/static/dynamic-tiles/tiles.css"/>
	<link type="text/css" rel="stylesheet" href="/static/menu/menu.css"/>
	<link type="text/css" rel='stylesheet' href='https://fonts.googleapis.com/css?family=Syncopate' >
	<link type="image/png" rel="icon" sizes="64x64" href="/static/images/favicons/favicon.ico">
	<meta name="theme-color" content="#FFF">
</head>
<body>
	<header>
	<nav id="menu">
		<object id="menuIcon" type="image/svg+xml" data="/static/menu/menuIcon.svg">&#9776;</object>
		<div class="vcp list">
			<div class="vcc" >
				<a href="/">Home</a>
				<hr>
				<a href="/contact">Contact Us</a>
				<hr>
				<a href="/about">About Us</a>
				<hr>
				<a href="/portfolio">Portfolio</a>
			</div>
		</div>
		<div id="media">
			<a href="#"><object type="image/svg+xml" data="/static/svg/in.svg">Linkedin</object></a>
			<a href="https://twitter.com/vergewd" target="_blank"><object type="image/svg+xml" data="/static/svg/t.svg">Twitter</object></a>
			<a href="https://www.facebook.com/vergewd" target="_blank"><object type="image/svg+xml" data="/static/svg/f.svg">Facebook</object></a>
			<a href="https://plus.google.com/109026950597477930874/about" target="_blank"><object type="image/svg+xml" data="/static/svg/g.svg">Google+</object></a>
		</div>
	</nav>
	</header>


	<main class="blurWrap">
		<a id="phone" href="tel:15203440338">
			<object data="/static/svg/phone.svg" type="image/svg+xml">&#9742;</object>
			<span id="number" itemprop="telephone">520.344.0338</span>
		</a>

		<include template="$data.includeName" template-data="data"/>
	</main>

</body>
<script src="/static/js/master.js"></script>
<script src="/static/dynamic-tiles/tiles.js"></script>
<script src="/static/menu/menu.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TimelineLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>
</html>
